* {
    margin: 0;
    font-size: 22px;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    align-items: center;
    margin: 50px;
}

form {
    padding-bottom: 25px;
}

input {
    min-height: 25px;
    min-width: 0px;
}

li {
    padding-bottom: 10px;
}