* {
    margin: 0;
    font-size: 22px;
}

body {
    align-items: center;
    margin: 50px;
}

form {
    padding-bottom: 25px;
}

input {
    min-height: 25px;
    width: 400px;
}

li {
    padding-bottom: 10px;
}